In [ ]:
# AoC 2021
# Sarah Stevens
# Day 1

In [43]:
import pandas as pd
import numpy as np

In [44]:
sonar = pd.read_csv('input/01-input.txt', header = None, names = ['depths'])
sonar.head()

   depths
0     109
1     117
2     118
3      98
4     102

In [45]:
# Part 1
# find the number of times the depth increases between readings

In [46]:
sonar['diff'] = sonar.depths.diff()
sonar['sign'] = np.sign(sonar['diff'])
sonar.head()

   depths  diff  sign
0     109   NaN   NaN
1     117   8.0   1.0
2     118   1.0   1.0
3      98 -20.0  -1.0
4     102   4.0   1.0

In [47]:
sonar[sonar['sign'] == 1.0]['sign'].sum()

1448.0

In [48]:
# Part 2
# using sliding windows of 3, find the number of times the the sliding window increases

In [49]:
sonar['depths1'] = sonar['depths'].shift(1)
sonar['depths2'] = sonar['depths'].shift(2)
sonar['sum3'] = sonar['depths'] + sonar['depths1'] + sonar['depths2']
sonar['diff3'] = sonar.sum3.diff()
sonar['sign3'] = np.sign(sonar['diff3'])
sonar.head()

   depths  diff  sign  depths1  depths2   sum3  diff3  sign3
0     109   NaN   NaN      NaN      NaN    NaN    NaN    NaN
1     117   8.0   1.0    109.0      NaN    NaN    NaN    NaN
2     118   1.0   1.0    117.0    109.0  344.0    NaN    NaN
3      98 -20.0  -1.0    118.0    117.0  333.0  -11.0   -1.0
4     102   4.0   1.0     98.0    118.0  318.0  -15.0   -1.0

In [50]:
sonar[sonar['sign3'] == 1.0]['sign3'].sum()

1471.0